.userBlock {
  margin-bottom: 50px;

  .name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    h1 {
      width: fit-content;
      :first-child {
        font-size: 4em;
      }
      :last-child {
        font-size: 4.2em;
      }
    }
  }
}
.search-box {
  margin-bottom: 50px;
}


.boardName {
  font-weight: bolder;
  font-size: 24px;
  margin-top: 10px;
}

.boardSecret {
  font-style: italic;
  font-size: 10px;
}


.delete {
  margin-bottom: 5px;
}

.boardCenter {
  margin-top: 40px;
}

.boardThumb {
  height: 300px;
}

