<div>
    <div ng-repeat="pin in pins" class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <img ng-src="{{pin.img_path}}">
        <div class="caption">
            <h3>{{pin.name}}</h3>
            <p>{{pin.details}}</p>
            <p>
            <a target="_blank" href="{{pin.url}}" class="btn btn-primary" role="button">See Content</a>
            </p>
            <button ng-click="editPin(pin.id)" class="btn btn-default">Edit Pin</button>
        </div>
        </div>
    </div>
</div>