<div>
	<h1 class="mainHeader">Add a Pin</h1>

<div id="contacts">
	<form>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Name of Pin</label>
	    <input type="text" class="form-control" id="formGroupExampleInput" ng-model="pin.name" placeholder="Add a name">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Pin's home website</label>
	    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="pin.url placeholder="Website where you found pin">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Image (source link to image)</label>
	    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="pin.img_path"  placeholder="Link to image">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Details</label>
	    <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="pin.details" placeholder="Details">
	  </div>
	</form>

<!-- 
<form class="form-horizontal" name="userForm">
		  <div class="form-group">
		    <label for="firstName" class="col-sm-2 control-label">First Name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="firstName" ng-model="contact.firstName" placeholder="First Name" required>
		    </div>
		  </div> -->


          "name": "Example 1",
            "url": "www.link.com",
            "img_path": "img.jpg",
            "details": "Details for Example 1",
            "boardId": "",
            "uId": "0"
         

 -->





</div>

</div>