<div class="input-group input-group-lg col-xs-6 col-xs-offset-3">
  <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
  <input type="text" class="form-control" placeholder="Search boards by: name, description, etc." ng-model="searchText">
</div>

<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="board in boards| filter: searchText">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{board.name}}</h3>
        <p>{{board.description}}</p>
        <p ng-show="board.is_secret">This is a secret board</p>
        <button class="btn btn-default" ng-click="deleteMyBoard(board.id)">Delete Board</button>
      </div>
    </div>
  </div>
</div>

<button roll="button" class="btn btn-default" ng-click="toAddBoard()">New Board</button>
